/* Import tailwindcss and its plugins */
@import "tailwindcss";
/**
 * Typographic plugin for tailwindcss.
 *
 * See https://tailwindcss-typography.vercel.app/
 */
@plugin "@tailwindcss/typography";

/* Import daisyUI and its plugins.
 * daisyUI is a collection of CSS class names a high-level abstraction of Tailwind CSS utility classes.
 *
 * See https://daisyui.com
 */
@plugin "daisyui";

/* Set up daisyUI light themes 
 *
 * See https://daisyui.com/docs/themes 
 */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: light;
}

/* Set up daisyUI dark themes 
 *
 * See https://daisyui.com/docs/themes
 */
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: dark;
}

/* Add your custom CSS styles here.
 *
 * This block is used to define CSS classes or styles that are not yet available in the daisyUI library.
 * You can define your own CSS classes here and then use them in your HTML components.
 */

a svg {
  @apply opacity-100;
  a &:hover {
    @apply opacity-80;
  }
}

svg {
  @apply h-6;
  @apply w-6;
}

/* CSS transitions to animate elements when they become visible
 *
 * The approach is to apply the styles when the "is-visible" class is added to the element.
 * When the element is visible and the class is added, the transition is triggered.
 *
 * See https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Transitions/Using_CSS_transitions
 */

.animate-fade-up {
  @apply opacity-0;
  @apply translate-y-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
}

.animate-fade-up.is-visible {
  @apply opacity-100;
  @apply translate-y-0;
}

.animate-fade-right {
  @apply opacity-0;
  @apply translate-x-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
}

.animate-fade-right.is-visible {
  @apply opacity-100;
  @apply translate-x-0;
}

.animate-fade-left {
  @apply opacity-0;
  @apply -translate-x-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
}

.animate-fade-left.is-visible {
  @apply opacity-100;
  @apply translate-x-0;
}

.animate-fade-down {
  @apply opacity-0;
  @apply -translate-y-8;
  @apply transition-opacity duration-500;
  @apply transition-transform duration-500;
}

.animate-fade-down.is-visible {
  @apply opacity-100;
  @apply translate-y-0;
}
