---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import LastPosts from "../components/common/LastPosts.astro";

const title = "Welcome to Astro Theme!";
const description =
  'Wondering what to do next? Check out the Astro documentation at <a href="https://docs.astro.build">https://docs.astro.build</a>';
---

<Layout title={title} description={description}>
  <Welcome title={title} />
  <LastPosts count={3} />
</Layout>
