---
import Layout from "../layouts/Layout.astro";
import Welcome from "../components/Welcome.astro";
import LastPosts from "../components/common/LastPosts.astro";

const title = "Welcome to Astro Theme!";
const description =
  'Wondering what to do next? Check out the Astro documentation at <a href="https://docs.astro.build">https://docs.astro.build</a>';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title={title} description={description}>
  <Welcome title={title} />
  <LastPosts />
</Layout>
